<h2>Name: <%= @dog.name %></h1><br>
<h2>Dog Owner: <%= @dog.owner_name %></h2><br>
<h2>Temperament: <%= @dog.temperament %></h2><br>
<h2>Friends: <%= @dog.friends %></h2>

<a href="/dogs/<%= @dog.id %>/edit">Edit Dog</a>
