<h1 class="center"> <%= @dogwalker.name %></h1>

<% if !@dogwalker.walks.empty? %>
  <label class="center" for=""> Existing Walks: </label>
<% end %>


<% @walk = @dogwalker.walks.sort_by do |walk| %>
<% walk.date.to_s  %>
<% end %>
<% @walk.each do |w| %>
  <a href="/walks/<%= w.id %>" class="center"> <%= w.date %> - <%= w.pickup_time %> - <% w.dogs.each do |dog| %><%= dog.name %>  <% end %> </a>
<% end %>

<a href="/walks/new"><input class="center" type="button" name="new_walk" value="New Walk"></a>
<a href="/logout"><input class="center" type="button" name="logout" value="Logout"></a>
