<h1><%= @walk.pickup_time %> - <%= @walk.dropoff_time %></h1>
<h2><%= @walk.address %></h2>

<a href="/walks/<%= @walk.id %>/edit"><input type="submit" name="submit" value="Edit Walk"><br>

<form action="/walks/<%= @walk.id %>/delete" method="post">
  <input id= "hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Walk"><br><br>
</form>
  <a href="/logout"><input class="center" type="button" name="logout" value="Logout"></a>
