<h1><u><%= @walk.pickup_time %> - <%= @walk.date %></u></h1>

<h2> Dogs: </h2>

<% @walk.dogs.each_with_index do |dog, index| %>

  <%= index+1 %>. <%= dog.name %> - <%= dog.address %>
<% end%><br><br>

<a href="/walks/<%= @walk.id %>/edit"><input type="submit" name="submit" value="Edit Walk"><br>

<form action="/walks/<%= @walk.id %>/delete" method="post">
  <input id= "hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Walk"><br><br>
</form>
  <a href="/logout"><input class="center" type="button" name="logout" value="Logout"></a>
